$white: #ffffff;
$off-white: #fff9ef;
$red: #c70101;
$black: #0d0d0d;
$white-two: #f6f6f6;
$greyish-brown: #555555;
$red-two: #ff0000;
$greyish-brown-two: #4b4b4b;
$pinkish-grey: #d0d0d0;
$brownish-grey: #6b6b6b;
$black-two: #050505;
$brownish-grey-two: #646464;
$white-three: #e8e8e8;